/* .graph {
  width: 300px;
  height: 300px;
  display: block;
} */

body {
  font: 4px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
}
