<v-container>
  <link
    href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
    rel="stylesheet"
  />
  <div class="ace-container">
    <div class="ace-editor" ref="ace"></div>
  </div>
  <v-btn
    fab
    small
    :color="buttonColor"
    @click="buttonRun"
    :loading="buttonLoading"
    :disabled="buttonLoading"
    transition="fade"
  >
    <v-icon>{{buttonIcon}}</v-icon>
  </v-btn>
  <v-snackbar
    v-model="snackbar"
    :timeout="snackbarTimeout"
    :color="snackbarColor"
  >
    {{snackbarText}}
  </v-snackbar>
</v-container>
